**Numbers and Types**

In [1]:
#Three types used to represent numbers in Python; these are integers (or integral) types, floating point numbers and complex numbers.

**Integers**

In [2]:
x=1

In [3]:
print(x)

1

In [4]:
print(type(x))

<class 'int'>

**Converting to Ints**

In [5]:
#convert another type into an integer using the int() function. For example, if we want to convert a string into an int (assuming the string contains a integer number) then we can do this using the int() function.

In [8]:
age=int(input("Enter number"))
print(age)

Enter number 12

12

**Converting to Float**

In [9]:
#possible to convert other types such as an int or a string into a float. This is done using the float() function

In [13]:
age=float(input("Enter integer value"))
print(age)

Enter integer value 3

3.0

**Converting String to Float**

In [17]:
strr=float(input("Enter string"))
print(strr)

Enter string 1.5

1.5

In [18]:
val='1.56'
print(float(val))

1.56