**TUPLES**

**Create a tuple of 3 colors and print the last color.**

In [1]:
colors=('red','orange','blue')

In [8]:
print(colors[-1])
#Index starts from last as -1

blue

**Try to change one value in the tuple.**

In [7]:
colors[0]="pink"
#Explanation: Tuples are immutable.

TypeError: 'tuple' object does not support item assignment

**Create a tuple with 6 numbers. Print the first and last element.**

In [9]:
numbers=(1,2,3,4,5,6)

In [11]:
print(numbers[0])

1

In [13]:
print(numbers[5])

6

**Check if the number 5 exists in the tuple (1, 3, 5, 7, 9).**

In [16]:
numbers=(1,3,5,7,9)

In [17]:
print(5 in numbers)

True

**Find the length of the tuple (10, 20, 30, 40).**

In [18]:
length=(10,20,30,40)

In [19]:
print(len(length))

4

**Create a tuple of fruits and use a for loop to print each fruit.**

In [20]:
fruits=("orange","grapes","apple")

In [23]:
for item in fruits:
    print(item)

orange
grapes
apple

**Convert a tuple into a list, change one value, and convert it back to a tuple.**

In [24]:
numbers=(1,2,3)

In [27]:
#Convert tuple into list
lst=list(numbers)
print(lst)

[1, 2, 3]

In [28]:
lst[1]=4
print(lst)

[1, 4, 3]

In [29]:
#Convert list back into tuple
t=tuple(lst)
print(t)

(1, 4, 3)

**Use count() to find how many times 2 appears in (2, 4, 2, 6, 2, 8).**

In [30]:
numbers=(2,3,2,6,2,8)

In [31]:
print(numbers.count(2))

3

**Use index() to find the position of 7 in (5, 7, 9, 7, 11)**

In [32]:
numbers=(5,7,9,7,11)

In [33]:
print(numbers.index(7))

1

**Create a nested tuple (tuple inside another tuple). Access the inner tuple’s second element.**

In [41]:
nestedtuple=(1,2,3,(4,5,6),7)

In [43]:
print(nestedtuple[3][1])

5

**Concatenate two tuples: (1, 2, 3) and (4, 5, 6).**

In [44]:
tuple1=(1,2,3)

In [45]:
tuple2=(4,5,6)

In [46]:
concattuple=tuple1 + tuple2

In [47]:
print(concattuple)

(1, 2, 3, 4, 5, 6)

**Repeat a tuple (“hi”, “bye”) 3 times using the * operator.**

In [48]:
tupleval=("hi","bye")

In [49]:
result=(tupleval * 3)

In [50]:
print(result)

('hi', 'bye', 'hi', 'bye', 'hi', 'bye')