**Accessing a Character**

In [22]:
# As a string is a fixed sequence of letters, it is possible to use square brackets and an index (or position) to retrieve a specific character from wAwithin a string

In [7]:
strr='Hello World'

In [9]:
print(strr)

Hello World

In [11]:
print(strr[4])

o

**Accessing a Subset of Characters**

In [13]:
strr='Hello World'

In [15]:
print(strr[4])  #character at 4th position

o

In [17]:
print(strr[1:5]) #from position 1 to 5

ello

In [19]:
print(strr[:5]) #from start to position 5

Hello

In [21]:
print(strr[2:]) #from postion 2 to end

llo World

**Repeating Strings**

In [28]:
# We can also use the '*' operator with strings. In the case of strings this means repeat the given string a certain number of times. 
#This generates a new string containingthe original string repeated n number of times

In [25]:
strr='Hello'

In [26]:
print(strr * 5)

HelloHelloHelloHelloHello

**Splitting Strings**

In [27]:
# A very common requirement is the need to split a string up into multiple separate
#strings based on a specific character such as a space or a comma.
#This can be done with the split() function, that takes a string to used in
#identifying how to split up the receiving string.

In [29]:
title='The Good, The Bad, and the Ugly'

In [30]:
print(title)

The Good, The Bad, and the Ugly

In [31]:
print('Split using space', title.split(' ' ))

Split using space ['The', 'Good,', 'The', 'Bad,', 'and', 'the', 'Ugly']

In [32]:
print('Split using comma' , title.split(','))

Split using comma ['The Good', ' The Bad', ' and the Ugly']

**Counting Strings**

In [33]:
# It is possible to find out how many times a string is repeated in another string. This
#is done using the count() operation

In [37]:
title='Count, the number of   spaces'

In [38]:
print(title.count(' '))

6

**Replacing Strings**

In [39]:
#One string can replace a substring in another string. This is done using the replace() method on a string.

In [40]:
title='Hello WOrld'

In [41]:
print(title.replace('Hello','replacehello'))

replacehello WOrld

**Finding Sub Strings**

In [44]:
#You can find out if one string is a substring of another string using the find()
#method. This method takes a second string as a parameter and checks to see if that
#string is in the string receiving the find() method
#The method returns −1 if the string is not present. Otherwise it returns an index indicating the start of the substring

In [42]:
title= 'Edward Alun Rawlings'

In [43]:
print(title.find('Alun'))

7

In [45]:
title='Test'

In [46]:
print(title.find('a'))

-1

**Converting Other Types into Strings**

In [47]:
#If you try to use the '+' concatenation operator with a string and some other type such as a number then you will get an error

In [49]:
msg='Hello Lloyd you are ' + 21

TypeError: can only concatenate str (not "int") to str

In [50]:
msg='Hello Lloyd you are ' + '21'

In [51]:
print(msg)

Hello Lloyd you are 21

**Comparing Strings**

In [53]:
#To compare one string with another you can use the '==' equality and '!=' not equals operators.
#These will compare two strings and return either True or False indicating whether the strings are equal or not

In [54]:
title='Apple'

In [56]:
print(title == 'APPLE')

False

In [58]:
print(title != 'APPLE')

True

**MORE EXAMPLES**

In [59]:
some_string = 'Hello World'
print('Testing a String')
print('-' * 20)
print('some_string', some_string)
print("some_string.startswith('H')",
some_string.startswith('H'))
print("some_string.startswith('h')",
some_string.startswith('h'))
print("some_string.endswith('d')", some_string.endswith('d'))
print('some_string.istitle()', some_string.istitle())
print('some_string.isupper()', some_string.isupper())
print('some_string.islower()', some_string.islower())
print('some_string.isalpha()', some_string.isalpha())
print('String conversions')
print('-' * 20)
print('some_string.upper()', some_string.upper())
print('some_string.lower()', some_string.lower())
print('some_string.title()', some_string.title())
print('some_string.swapcase()', some_string.swapcase())
print('String leading, trailing spaces', " xyz ".strip())

Testing a String
--------------------
some_string Hello World
some_string.startswith('H') True
some_string.startswith('h') False
some_string.endswith('d') True
some_string.istitle() True
some_string.isupper() False
some_string.islower() False
some_string.isalpha() False
String conversions
--------------------
some_string.upper() HELLO WORLD
some_string.lower() hello world
some_string.title() Hello World
some_string.swapcase() hELLO wORLD
String leading, trailing spaces xyz

**String Formatting**

In [62]:
format_string='Hello {}'

In [63]:
print(format_string.format('Swapnil'))

Hello Swapnil

In [64]:
## Allows multiple values to populate the string

In [65]:
msg='Adam'

In [66]:
age=20

In [68]:
print("Hello {} is {} years old".format(msg,age))

Hello Adam is 20 years old

In [69]:
## Can specify an index for the substitution

In [74]:
msg='Hello {1}  Charlet.Ypu are {0} years old'

In [75]:
print(msg.format(20,'Adam'))

Hello Adam  Charlet.Ypu are 20 years old

In [76]:
## Can use named substitutions, order is not significant

In [77]:
msg='Hello {name} welcome to {course}'

In [78]:
print(msg.format(name='Adam',course='Python'))

Hello Adam welcome to Python

In [85]:
#
It is also possible to indicate alignment and width within the format string. For
example, if you wish to indicate a width to be left for a placeholder whatever the
actual value supplied, you can do this using a colon (':') followed by the width to
use. For example to specify a gap of 25 characters which can be filled with a
substitute value you can use {:25} as shown below:
print('|{:25}|'.format('25 characters width'))
In the above the vertical bars are merely being used to indicate where the string
starts and ends for reference, they have no meaning within the format method. This
produces the output:
|25 characters width |
44 4 Python Strings
Within this gap you can also indicate an alignment where:
• < Indicates left alignment (the default),
• > Indicates right alignment,
• ^ Indicates centered.
These follow the colon (':') and come before the size of the gap to use, for
example:
print('|{:<25}|'.format('left aligned')) # The default
print('|{:>25}|'.format('right aligned'))
print('|{:^25}|'.format('centered'))
Which produces:
|left aligned |
| right aligned|
#| centered |

SyntaxError: invalid character '•' (U+2022) (2281378143.py, line 14)

In [86]:
#Another formatting option is to indicate that a number should be formatted with
separators (such as a comma) to indicate thousands:
# Can format numbers with comma as thousands separator
print('{:,}'.format(1234567890))
print('{:,}'.format(1234567890.0))
Which generates the output:
1,234,567,890
1,234,567,890.0
There are in fact numerous options available to control the layout of a value
within the format string and the Python documentation should be referenced for
further information.

SyntaxError: invalid syntax (1521119162.py, line 2)

**String Templates**

In [89]:
#A string template is a class (type of thing) that is created via the string.Template() function. 
#The template contains one or more named variables preceded with a $ symbol. 
#The Template can then be used with a set of values that replace the template variables with actual values.

In [92]:
import string
# Initialise the template with ¢variables that
# will be substitute with actual values

msg=string.Template('$name is $years old')
print(msg.substitute(name='Swapnil',years=20))

Swapnil is 20 old

In [96]:
#Using dictionary
msg=string.Template('Hello $name sang $song in $year')
d=dict(name='Swapnil',song='Test',year=2020)
print(msg.substitute(d))

Hello Swapnil sang Test in 2020

In [98]:
#Exercice 1
#Explore replacing a string
#Create a string with words separated by ',' and replace the commas with spaces;
#for example replace all the commas in 'Denyse,Marie,Smith,21,London,UK'
#with spaces. Now print out the resulting string.

In [99]:
msg='Denyse,Marie,Smith,21,London,UK'

In [100]:
print(msg.replace(',', ' '))

Denyse Marie Smith 21 London UK

In [109]:
#Exercise 2
#Handle user input
#The aim of this exercise is to write a program to ask the user for two strings and
#concatenate them together, with a space between them and store them into a new
#variable called new_string.

In [110]:
#Ask user for inputs
str1=input('Enter first string')
str2=input('Enter second string')

#Cancatenate strings with space
result=str1 + ' ' + str2

print(result)

Enter first string swapnil
Enter second string gabhiye

swapnil gabhiye

In [116]:
#Print out how long the contents of new_string is.

print(len(result))

15

In [123]:
#Now convert the contents of new_string to all upper case.
print(result.isupper())

False

In [125]:
print(result.upper())

SWAPNIL GABHIYE

In [126]:
#Now check to see if new_string contains the string 'Albus' as a substring.

print(result.find('Albus'))

-1